@import "../../index.scss";

.layout {
  display: grid;
  grid-template-rows: 56px 1fr;
  height: 100vh;
  .titlebar {
    background: white;
    display: flex;
    .brand-logo {
      margin: 0 auto;
      text-decoration: none;
      div {
        text-decoration: none;
        h3 {
          // background: -webkit-linear-gradient(45deg, #46d0f7, #7d2ae8);
          background: -webkit-linear-gradient(45deg, $primary, $secondary);
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
        }
      }
    }
  }
  .main {
    background-color: #f5f5f5;
    display: flex;
  }
}
