body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: inspira;
  src: local("inspira"), url("../src/assets/Inspira.ttf");
}
body {
  margin: 0;
  padding: 0;
  background: white;
}
* {
  font-family: "inspira", sans-serif;
}
/* Colors for theme */
// $primary: #46d0f7;
$primary: #57acf1;
$secondary: #3a5f81;

:export {
  primary: $primary;
  secondary: $secondary;
}

// DIALOGS CSS
.dialogOK {
  p {
    margin: auto 2em;
    color: $primary;
  }
  .printImg {
    margin: 3em auto;
  }
  .okbtn {
    margin: 0 10em 2em 10em;
    min-width: 150px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    color: $primary;
    font-size: 14px;
    padding: 10px 12px;
    border: 2px dotted $primary;
    min-width: 178px;
    background: none;
  }

  .okBtn:hover {
    background-color: rgba(87, 172, 241, 0.25);
  }
}
